@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {  
    .lg\:hidden { display: none; }  
    .lg\:flex { display: flex; }  
  }  
  .bottom-right-image {
    position: absolute;
    bottom: 30px;
    right: 20px;
    max-width: 200px; 
    margin: 70px;
  }

  .bottom-right-image-two {
    position: absolute;
    bottom: -290px;
    right: 20px;
    max-width: 200px; 
    margin: 70px;
  }